= form_tag do
  - if flash[:alert]
    .alert.alert-danger
      = flash[:alert]
  %br
  .container.input_field_small
    .field.form-group
      = label_tag :email, 'Email:'
      = text_field_tag :email, params[:email], :class => "form-control"
    .field.form-group
      = label_tag :password, 'Password:'
      = password_field_tag :password, params[:password], :class => "form-control"
    .actions
      = submit_tag "Login", :class => "btn btn-success", :value => "Log In"

