= form_with(model: note, local: true) do |form|
  - if note.errors.any?
    #error_explanation
      %h2
        = pluralize(note.errors.count, "error")
        prohibited this note from being saved:
      %ul
        - note.errors.full_messages.each do |message|
          %li= message
  %br
  .container
    .field.form-group
      = form.label :title
      = form.text_field :title, :class => "form-control"
    .field.form-group
      = form.label :description
      .input-group.mb-3.update_note_text_area
        = form.text_area :description, :class => "form-control"
    .actions
      = form.submit :class => "btn btn-success", :value => "Create"
