%head
  = stylesheet_link_tag 'notes', media: 'all', |
      'data-turbolinks-track': 'reload'
- if notice.present?
  .alert.alert-success
    = notice
- if session[:user_id]
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.nav-item
      %a.nav-link.active{"data-toggle" => "tab", :href => "#my_notes"} My Notes
    %li.nav-item
      %a.nav-link{"data-toggle" => "tab", :href => "#contributor_notes"} Contributed
    %li.nav-item
      %a.nav-link{"data-toggle" => "tab", :href => "#reader_notes"} Reader

.tab-content
  #my_notes.container.tab-pane.active
    %br/
    %ul.list-group
      - @notes.each do |note|   
        %li.list-group-item
          = link_to "#{note.title}", note

  #contributor_notes.container.tab-pane.fade
    %br/
    %ul.list-group
      - @contributer_access_notes.each do |note|   
        %li.list-group-item
          = link_to "#{note.title}", note
  #reader_notes.container.tab-pane.fade
    %br/
    %ul.list-group
      - @reader_access_notes.each do |note|   
        %li.list-group-item
          = link_to "#{note.title}", note
.container
  %br
  = link_to 'New', new_note_path, class: 'btn btn-success'

