= form_tag('/note/shared') do
  %br
  .container
    .field.form-group.input_field_small
      = label_tag :email, 'Email:'
      = text_field_tag :email, params[:email], :class => "form-control"
    .field.form-group
      = select_tag :role, raw("<option>Contributor</option><option>Reader</option>")
    = hidden_field_tag 'note_id', @note_id
    .actions
      = submit_tag "share", :class => "btn btn-success", :value => "Share"
