- if notice.present?
  .alert.alert-success
    = notice
- if @note.errors.any?
  %ul
    - note.errors.full_messages.each do |message|
      %li= message
%br
.container
  = form_for @note, local: true, :url => {:action => "update", :id => @note} do |form|
    .field
      .input-group.mb-3.update_note_text_area
        = form.text_area :description, :class => "form-control", :value => @note.description
      - if @update_access
        .btn-group.btn-group-lg
          = form.submit :class => "btn_share", :value => "Update"
  - if @owner_access
    .align_show
      .btn-group.btn-group-lg
        = button_to 'Delete', @note, method: :delete, :class => 'btn btn-danger align_show_button'
      .btn-group.btn-group-lg.share_button
        = button_to 'Share', share_note_path, method: :get, :class => 'btn btn-secondary align_show_button'
      
