= form_for :user, local: true, :url => {:action => "create"} do |form|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %br
  .container.input_field_small
    .field.form-group
      = form.label :name, 'Name:'
      = form.text_field :name, id: :user_name, size: 40, :class => "form-control"
    .field.form-group
      = form.label :email, 'Email:'
      = form.text_field :email, id: :user_email, :class => "form-control"
    .field.form-group
      = form.label :password, 'Password:'
      = form.password_field :password, id: :user_password, size: 40, :class => "form-control"
    .field.form-group
      = form.label :password_confirmation, 'Confirm Password:'
      = form.password_field :password_confirmation, id: :user_password_confirmation, size: 40, :class => "form-control"
    .actions
      = form.submit :class => "btn btn-success", :value => "Create Account"
