.header_home {
	background-color: #E0EEEE;
	.title_resize {
		font-size: 30px;
		text-align: left;
    width: 70%;
    padding-left: 3rem;
    padding-top: 0.75rem;
    margin-bottom: 0.5em;
    text-decoration: none;
    a {
      text-decoration: none;
      color : black;
    }
	}
	.header_right {
    width: 30%;
    text-align: right;
    padding-right: -5rem;
    #logout_button {
      margin-right: 3rem;
      margin-top:1rem;
    }
	}
}
.update_note_text_area {
	min-height: 16rem;
}
.btn_share {
	padding: .3rem .55rem;
	font-size: 1rem;
  border-radius: .25rem;
  background-color: #007bff;
  color: white;
  border: 1px solid transparent;
}
.signup_component {
  text-align: center;
  ul.navbar-nav {
    margin:0 auto;
  }
  .login_button {
    padding-left: -0.2rem;
  }
}
.input_field_small {
  .form-control {
    width: 50%;
  }
}
.align_show_button {
  display: flex;
}
.align_show {
  margin-left: 5rem;
  margin-top: -3.2rem;
  padding-top: -0.2rem;
  .btn {
    padding: .3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}
.share_button {
  padding-left: 0.25rem;
}
