%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Notes Share
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', |
      'data-turbolinks-track': 'reload'                   
 
  %body
    .header_home.row
      .title_resize
        = link_to 'Notes Share', home_path
      - if session[:user_id]
        .header_right
          = button_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger', id: "logout_button"
    - unless session[:user_id] || @hide_sign_up
      %nav.navbar.bg-light.signup_component
        %ul.navbar-nav
          %li.nav-item
            .nav-link 
              = button_to 'Sign Up', user_signup_path, method: :get, class: 'btn btn-outline-primary'
          %li.nav-item
            .nav-link.login_button 
              = button_to 'Sign In', login_url, method: :get, class: 'btn btn-outline-secondary'
    %main{:class => "#{controller.controller_name}"}
      = yield
